body {
    margin: 0;
    padding: 0;
    background-color: #FFFFFF;
    color: #111111;
    font-size: 10vmin;
    /*font-family: 'Neucha', cursive;*/
    font-family: 'Lobster', cursive;
    /*font-family: 'Comfortaa', cursive;*/
    /*font-family: 'Underdog', cursive;*/
}

.ibNSdElBLa {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

._1h1fztc5lW {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 0 1 800px;
    height: 100vh;
}

._1ORTfOv9gX {
    display: flex;
}

.fNZ1kMI-9n {
    display: flex;
    flex-direction: column;  
}

._3o88G94gzi {
    align-items: center;
}

._2PQ4YXqBuu {
    width: 40vmin;
}

._1EEzc52lZQ {
    padding: 5px;
}

._2W1wrPw1ME {
    display: flex;
    justify-content: center;
    font-size: 15vmin;
    padding: 20px;
    margin-bottom: 50px;
}

._25TIwIOn-s { 
    /*display: flex;
    justify-content: center;*/
}

._1fwnD348WP {
    display: flex;
    flex-direction: column;
    align-items: center;
}
